                      /*Import from Google Fonts*/
@import url('https://fonts.googleapis.com/css?family= Cormorant+Unicase:100,200,300,400,500,600,700,|Muli:200,300,400,500,600,700,|Nunito:100,200,300,400,500,600,700');

body {
    width:100%;
    padding:0;
    margin:0;
}

.overlay-main {
    opacity:0.9;
}


                        /*Navbar and NavBrand*/
                        
nav, .navbar-default {
    display: block;   
    position: relative;
    padding:0;
    margin-bottom: 2px;
    background-color: navy;
}

.navbar-default .navbar-brand {
    background-color: navy;
    color: moccasin;
    font-size: 16px;
    font-family: 'Cormorant+Unicase',serif;
    font-style: oblique;
    font-weight: 600;
}


                 /* Background and background colors */
                 
                 

select {
    background-color: #b8d1f1;
}

.select-bg {
    display: inline-block;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 0.8;

    
    background-color: navy;
}

.chart-bg {
    background-color: #dfd9e280;
   
}

img {
    display: inline-block;
    background-color: moccasin;
    
}



                         /* Headers */

h1 {
    color: #00b4ff;
    font-family: 'Cormorant+Unicase', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 29px;
    
}

h2 {
    text-transform: capitalize;
    font-family: 'Cormorant+Unicase';
    font-weight: 700;
    color: #00b4ff;
}

h3 {
  
    font-family: 'Muli', sans-serif;
    font-style: oblique;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 15px;
    color: white;
    background-color: navy;
}

.chart-header {
    margin-top:20px;
}


                             /* Sections */


.section-heading, #types-of-buses {
    display: inline-block;
    float: none;
}



.section {
    border-bottom: 2px solid #006992;
    padding: 50px 20px;
    background-color: #046fab5e;

}

/*hr {*/
/*    margin-bottom: 10px;*/
    
/*}*/



svg {
    margin: 0 auto;
}

                             /*Paragraphs*/


.section-paragraph {
    font-family: 'Nunito',sans-serif;
    font-style: oblique;
    font-weight: 700;
    line-height: 1.2;
    font-size: 22px;
    text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.26);
    color: #142a38;
    
    -webkit-box-shadow: 20px 25px 10px 2px rgba(0,0,0,0.80);
    -moz-box-shadow: 20px 25px 10px 2px rgba(0,0,0,0.80);
     box-shadow: 20px 25px 10px 2px rgba(0,0,0,0.80);
}

.header-paragraph {
    color: moccasin;
    font-family: 'Muli',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}


.col-xs-12,
.col-sm-12,
.col-md-6,
.dc-chart {
    overflow-x: scroll;
}




#tfl-logo {
    opacity: 0.38;
    position: fixed;
    right:1%;
    top: 5%;
    padding-top: 50px;
    margin-top: 300px;
}

footer {
    background-color: navy;
}

                    /*Media Queries */

@media screen and (min-width: 576px) {
   
   .select-bg {
       margin: 0px;
   }
   
}

@media screen and (min-width: 768px) {
    .select-bg {
       margin: 0px;
   }
}

@media screen and (min-width: 992px) {
  .select-bg {
      margin: 0px;
  }
}

